<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title>找回密码</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link href="/template/{#siteskin}/style.css" rel="stylesheet" type="text/css">
<script language = "JavaScript">
function CheckForm(){
if (document.myform2.username.value=="")
  {
    alert("请输入用户名！");
	document.myform2.username.focus();
	return false;
  }
if (document.myform2.regemail.value=="")
  {
    alert("请输入E-mail！");
	document.myform2.regemail.focus();
	return false;
  } 
}  
</script>
</head>
<body>

<div class="main" >
{#sitetop}
<div class="bordercccccc">
<div class="titlebig">找回密码</div>

{case1}
<form name="myform2" method="post" action="" style="padding:13px" onsubmit="return CheckForm()"> 
请输入您的用户名<br /><input name="username" type="text" class="biaodan2"  size="20" maxlength="50" />
<br />
请输入您注册时所用E-mail<br />
<input name="regemail" type="text" class="biaodan2" size="20" maxlength="50" />
<input type="submit" value="找回密码" />		  
<input name="action" type="hidden" value="do" />      
</form>
{/case1}  
{case2} 
<div class='bigword' style='padding:20px;text-align:center'>{#content}</div>
{/case2} 
</div>
</div>
{#sitebottom}
</body>
</html>