<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<title>{#pagetitle}</title>
<meta name="keywords" content="{#pagekeywords}" />
<meta name="description" content="{#pagedescription}" />
<link href="/template/{#siteskin}/style.css" rel="stylesheet" type="text/css">
<link href="/template/{#siteskin}/jdimg.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jdimg.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
	  	$.focus("#focus001");
		$.focus("#focus002");
	});
</script>
<style type="text/css">
.focus {width:320px; height:240px;}
.focus img{border:0;width:320px; height:240px;}
.focus ul li {width:320px; height:240px;  }
.focus .btnBg {background-color:#000000; display:block;}
.focus .btnBg {width:320px;}
.focus .btn {width:320px;}
</style>
</head>
<body>
{#sitetop}
<div class="box" style="text-align:center">
{@zxshow.jdimg2}
</div>
<div class="bordercccccc">
{@zxclass.zxitem}
</div>

{#sitebottom}

</body>
</html>