<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <title>{#pagetitle}</title>
  <meta content="{#pagedescription}" name="description" />
  <meta content="{#pagekeywords}" name="keywords" />
  <link href="/template/{#siteskin}/style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/js/qt.js"></script>
</head>
<body>
{#sitetop}
<div class="main">
  <div class="pagebody">
    <div class="rightIndex">
      <div class="title2">查看过的店家信息</div>
      <div class="content1">
        {#showcookiezs:3,60,60,5}
      </div>
    </div>
    <div class="leftIndex">
      <div class="station2">
        {#station}
      </div>
      <div class="left_content">
        <form action="/zs/search.php" method="get" name="myform" id="myform">
          <table width="100%" border="0" cellpadding="7" cellspacing="0">
            <tr>
              <td width="16%" align="right">关 键 词：</td>
              <td width="435"><input type="radio" name="yiju" value="Pname"  />
                按产品
                <input name="yiju" type="radio" value="Pcompany" />
                按店家
                <input name="keyword" type="text"  id="keyword" value="" size="25" maxlength="255"/>
                <input name="Submit3" type="submit"  value="搜索"  /></td>
            </tr>
            <tr>
              <td align="right">所属类别：</td>
              <td>{#formbigclass}</td>
            </tr>
            <!--<tr>
              <td align="right">投资金额：</td>
              <td><a href="/zs/search.php?tz=1万以下">1万以下</a> <a href="/zs/search.php?tz=1-10万" >1-10万</a> <a href="/zs/search.php?tz=10-20万">10-20万</a> <a href="/zs/search.php?tz=20-50万">20-50万</a> <a href="/zs/search.php?tz=50-100万" >50-100万</a> <a href="/zs/search.php?tz=100万以上">100万以上</a></td>
            </tr>-->
            <tr>
              <td align="right">所在区域：</td>
              <td>{#formprovince}</td>
            </tr>

          </table>
        </form>
      </div>

      <div class="left_content">
        <div class="boxbigclass">{#zsclass}</div>
      </div>

      <div class="left_content">
        <div style="text-align:right;">{#form_px}{#showselectpage}{#form_xs}</div>
        {zs}
        <div class="content4">
          {loop_window}
          <li>
            <table width='130' height='130' border='0' cellpadding='0' cellspacing='1' class='bgcolor2'>
              <tr>
                <td align='center' bgcolor='#FFFFFF'>
                  <a href='{#url}' target='_blank'><img src="{#img}"  border='0'></a>
                </td>
              </tr>
            </table>
            {#proname:9}
          </li>
          {/loop_window}

          {loop_list}
          <div id='Layer{#i}' class='hiddiv'></div>
          <table  width='100%' border='0' cellspacing='0' cellpadding='0' >
            <tr>
              <td width='157' align="center"><table width='130' height='130' border='0' cellpadding='0' cellspacing='1' class='bordercccccc'>
                <tr>
                  <td align='center' onMouseOver="showfilter(Layer{#i});window.document.getElementById('Layer{#i}').innerHTML='<img src={#imgbig} width=400>'" onMouseOut='showfilter(Layer{#i})'>
                    <a href='{#url}'><img src="{#img}"></a></td>
                </tr>
              </table></td>
              <td width='800'><table width='100%' border='0' cellspacing='0' cellpadding='0'>
                <tr>
                  <td><a href='{#url}' style='font-size:14px;font-weight:bold;line-height:30px'>{#proname:20}</a>{#elite}<br />
                    店家地址：{#province}-{#city}-{#xiancheng}-{#address}<br>
                    店家简介：{#prouse}<br>
                    <!--投资额度：{#tz}-->
                    <div style="margin-top:8px">
                      <a href='{#url}#contact' target='_blank'><img src='/image/lxfs.gif' width='80' height='20' border='0'></a>
                      <a href='{#url}#guestbook' target='_blank'><img src='/image/ico_dl.gif' width='80' height='20' border='0'></a>
                     <!-- <a href=javascript:window.external.addFavorite('{#siteurl}/{#url}','{#proname}')><img src='/image/ico_sc.gif' width='80' height='20'  border='0'></a>
                      {#qq}  -->
                    </div>
                  </td>
                </tr>

              </table> </td></tr>
          </table>
          <div class='boxxian'></div>
          {/loop_list}
        </div>

        <div style='clear:both'></div>
        <div class='fenyei'>{#fenyei}</div>
        {/zs}

      </div>

    </div>
  </div>

  {#sitebottom}
</div>
</body>
</html>