<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>{#pagetitle}</title>
    <meta content="{#pagedescription}" name="description"/>
    <meta content="{#pagekeywords}" name="keywords"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="Shortcut Icon" href="favicon.ico" />
    <link href="template/{#siteskin}/style.css" rel="stylesheet" type="text/css">
    <link href="template/{#siteskin}/jdimg2.css" rel="stylesheet" type="text/css">
</head>
<body>
{#sitetop}
<div class="titles">火爆店家</div>
<div class="adStyle1">
    <!--{#showad:2,0,no,no,yes,0,0,8,首页,A,no}-->
    {#showad:首页,A,0,130,90,9,no}
</div>

{#sitebottom}
<!--返回顶部-->
<script src="js/scrolltop.js" type="text/javascript" language="JavaScript"></script>
<div style="display: none" id="goTopBtn"></DIV>
<SCRIPT type=text/javascript>goTopEx();</SCRIPT>
</body>
</html>