<script language="JavaScript" src="/js/qt.js"></script>
<div class="top1">
<script language="JavaScript" src="/inc/showuserlogin.php?style=H&t=Math.random()"></script>
</div>

<div class="top2">
<span></span>
<div class="bigbigword3"><a href="/index.php"><img src="{#logourl}"  height="33" width="115"></a></div>
</div>

<div class="nav"> 
<ul>
    <li class="current"><a href='{#siteurl}'>网站首页</a></li>
    <li><a href='{#siteurl}/zs/fuzhuangxiebao'>服饰鞋包</a></li>
    <li><a href='{#siteurl}/zs/tesecanyin'>特色餐饮</a></li>
    <li><a href='{#siteurl}/zs/meirongyangsheng'>美容养生 </a></li>
    <li><a href='{#siteurl}/zs/lipinzhuangshi'>饰品玩具</a></li>
    <li><a href='{#siteurl}/zs/jiajuhuanbao'>家居环保</a></li>
    <li><a href='{#siteurl}/zs/jiancai'>建材原料</a></li>
    <li><a href='{#siteurl}/zs/muyingyongpin'>母婴用品</a></li>
    <li><a href='{#siteurl}/zs/jiaoyuwangluo'>教育网络</a></li>
    <li><a href='{#siteurl}/zs/order.php'>排 行 榜</a></li>
</ul>
</div>

<iframe width="0" height="0" frameborder="0" scrolling="no" name="forgg"></iframe>