<script language="JavaScript" src="/js/qt.js"></script>
<div class="top1">
    <script language="JavaScript" src="/inc/showuserlogin.php?style=H&t=Math.random()"></script>
</div>

<div class="top2">
    <span></span>
    <div class="bigbigword3"><a href="/index.php"><img src="{#logourl}"  height="33" width="115"></a></div>
</div>

<div class="nav">
    <ul>
        <!--<li class="current"><a href='{#siteurl}'>网站首页</a></li>-->
        <li><a href='{#siteurl}/zs/fushixiebao'>服饰鞋包</a></li>
        <li><a href='{#siteurl}/zs/canyinmeishi'>餐饮美食</a></li>
        <li><a href='{#siteurl}/zs/meirongbaoyang'>美容保养 </a></li>
        <li><a href='{#siteurl}/zs/shipinwanju'>饰品玩具</a></li>
        <li><a href='{#siteurl}/zs/shenghuofuwu'>生活服务 </a></li>
        <li><a href='{#siteurl}/zs/jiajuzhuangshi'>家居装饰</a></li>
        <li><a href='{#siteurl}/zs/jiancaizhuangxiu'>建材装修</a></li>
        <li><a href='{#siteurl}/zs/muyingyongpin'>母婴用品</a></li>
        <li><a href='{#siteurl}/zs/fangwuqiche'>房屋汽车</a></li>
        <li><a href='{#siteurl}/zs/jiaoyuwangluo'>教育网络</a></li>
        <!--<li><a href='{#siteurl}/zs/order.php'>排 行 榜</a></li>-->
    </ul>
</div>

<iframe width="0" height="0" frameborder="0" scrolling="no" name="forgg"></iframe>