<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <title>{#pagetitle}</title>
  <meta content="{#pagedescription}" name="description" />
  <meta content="{#pagekeywords}" name="keywords" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <link href="/template/{#siteskin}/style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/js/qt.js"></script>
</head>
<body>
{#sitetop}
<div class="station2">{#station}</div>
<div class="left_content">
  <form action="/zs/search.php" method="get" name="myform" id="myform">
    <table border="0" cellpadding="5" cellspacing="0">
      <tr>
        <td width="15%" align="right">关键词：</td>
        <td ><input type="radio" name="yiju" value="Pname"  />
          按产品
          <input name="yiju" type="radio" value="Pcompany" />
          按店家
          <input name="keyword" type="text"  id="keyword" value="" size="20" maxlength="255"/>
          <input name="Submit3" type="submit"  value="搜索"  /></td>
      </tr>
      <tr>
        <td align="right">类别：</td>
        <td>{#formbigclass}</td>
      </tr>
      <!--<tr>
        <td align="right">投资金额：</td>
        <td><a href="/zs/search.php?tz=1万以下">1万以下</a> <a href="/zs/search.php?tz=1-10万" >1-10万</a> <a href="/zs/search.php?tz=10-20万">10-20万</a> <a href="/zs/search.php?tz=20-50万">20-50万</a> <a href="/zs/search.php?tz=50-100万" >50-100万</a> <a href="/zs/search.php?tz=100万以上">100万以上</a></td>
      </tr>-->
      <tr>
        <td align="right">区域：</td>
        <td>{#formprovince}</td>
      </tr>

    </table>
  </form>
</div>


<div class="left_content">
  <div class="boxbigclass">
    {#zsclass}
  </div></div>

<div class="left_content">
  <div style="text-align:center;">{#form_px}{#showselectpage}</div>

  {zs}
  <div class="content4">
    {loop_window}
    <li>
      <table width='130' height='130' border='0' cellpadding='0' cellspacing='1' class='bgcolor2' style="margin:auto">
        <tr>
          <td align='center' bgcolor='#FFFFFF'>
            <a href='{#url}' target='_blank'><img src="{#img}"  border='0'></a>
          </td>
        </tr>
      </table>
      <!--{#proname_small}-->
      {#proname:9}
    </li>
    {/loop_window}
  </div>

  <div style='clear:both'></div>
  <div class='fenyei'>{#fenyei}</div>
  {/zs}

</div>
<div class="titles">查看过的店家信息</div>
<div class="content1">
  <!--{#showCookiesZS}-->
  {#showcookiezs:3,60,60,5}
</div>

{#sitebottom}
</body>
</html>